* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

header {
    background-color: #4db8a9;
    color: #e2f1de;
    padding: 1px;
    width: 100%;
    font-size: 30px;
}

.artikel {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav  {
    width: 50% auto;
    flex-wrap: wrap;
    background-color: #298dff;
    height: fit-content;
    color: white;
}

nav img {
    border-radius: 45%;
    padding: 5%;
    width: 50%;
    display: block;
    margin: 0 auto;
}

nav table {
    width: fit-content;
    margin: 0 auto;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

button {
    color: darkorange;
    border-color: darkorange;
    transition-duration: 0.8;
}

button:hover {
    background-color: darkorange;
    color: white;
}

article {
    float: right;
    width: 100%;
}

article h3 {
    background-color: #5dd6e6;
    color: #3936e7;
    padding-left: 5%;
}

footer {
    background-color: #3936e7;
    color: #e2f1de;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}